/* about page */
#about {
  background: url("https://drive.google.com/uc?export=view&id=1VfJ5om5sKDoydJs7hNBPHR0p6dSTOQxu") ;
  height: 100vh;
}

/* paragraph in section two */
#content-two {
  width: 400px;
  margin: 0 auto;

}

#card-group {
  justify-content: space-evenly;
}

#card-inside {
  border-color: white;
}

#social {
  list-style: none;
  text-decoration: none;
  justify-content: space-evenly;
  display: inline-flex;
}

.team-header {
  padding-bottom: 10px;
  padding-top: 20px;

}

#section-one,
#section-two,
#section-three {
  box-sizing: border-box;

}

#section-two,
#section-three {
  height: 100%;
  width: 100%;
  display: block;
  padding-left: auto;
  padding-right: auto;
}

#section-two {
  padding-top: 125px;
  padding-bottom: 125px;
}

#section-three {
  padding-top: 45px;
  padding-bottom: 50px;
}

/* icon styling */
.icons {
  color: #66CCCC;
  font-weight: 600;
  box-shadow: 10px white;
}

.icons:hover {
  color: white;
}

#first-icons {
  padding-top: 500px;
}

#dice {
  padding-bottom: 5px;
}


/* Fun Fact generator */
#modal-box {
  padding-top: 150px;
}

.modal-body {
  color: black;
}

#x-button {
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #878586;
  background-color: inherit;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0
}

#x-button:hover {
  color: #66CCCC;
}

.btn-secondary {
  background-color: black !important;
  color: white !important;
}

.btn-secondary:hover {
  background-color: black !important;
  color: #66CCCC !important;
  border-color: inherit !important;

}

.btn-primary {
  background-color: white !important;
  border-color: white !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color: black !important;
  color: #66CCCC !important;
  border-color: inherit !important;
}